# Build
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider (JetBrains)
.idea/

# Logs
*.log

# Publicação
publish/
*.pubxml
*.pubxml.user

# Pacotes NuGet
*.nupkg
packages/
project.lock.json

# Variáveis de ambiente sensíveis
*.env
.env

# Sistema Operacional
.DS_Store
Thumbs.db
